.navigationbar_bottom {
  display: flex;
  justify-content: space-between;
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3em;
  border-top: 0.5px solid black;
  padding: 0 1rem;
  background-color: white;
  z-index: 10;
}

.nav_bottom_icons {
  position: relative;
  margin-top: auto;
  margin-bottom: 0.3rem;
}

@media screen and (min-width: 385px) {
  .navigationbar_bottom {
    display: none;
  }
}
