.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: var(--main-yellow-color);
    padding: 4rem 2rem;
    color: white;
}

.headerText {
    flex: 5;
}

.headerImage{
    flex: 5;
}

.WordImage {
    width: 5rem;
}

.AntImage {
    width: 5rem;
    height: fit-content;
}