.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  font-size: var(--font-h1);
}

.subContainer{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.antimage {
  flex: 1;
  width: 3.5rem;
  height: 5rem;
}

.antbutton {
  flex: 1;
  width: 3.5rem;
  height: 5rem;
  cursor: pointer;
}

.feedback {
  flex: 3;
  height: fit-content;
  max-height: 10rem;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  box-shadow: 0px 0px 5px rgba(0, 0, 100, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--font-h4);
  padding: 2rem 2rem;
}

@media screen and (max-width: 500px) {
  .mainContainer {
    font-size: var(--font-h2);
  }

  .antimage {
    flex: 1;
    width: 3.3rem;
    height: 4.5rem;
  }

  .antbutton {
    flex: 1;
    width: 3.3rem;
    height: 4.5rem;
    cursor: pointer;
  }
}
