.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.subContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttonContainer {
  display: flex;
}

.title {
  font-size: var(--font-h1);
}

@media screen and (max-width: 480px) {
  .title {
    font-size: var(--font-h2);
  }
}
