.bigcontainer {
    background-color: var(--main-yellow-color);
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.datebuttoncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


.datebuttoncontainer > h5 {
    margin-right: 1rem;
}

.searchcompanylist {
    z-index: 1000;
}