.titleTextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.title {
    width : fit-content;
    color: white;
    background-color: var(--sub-blue-color);
    padding: 2px 14px;
    border-radius: 50px;
    font-size: 0.7rem;
}

.text {
    font-size: 0.7rem;
}