.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  width: 90%;
  /* border: 1px solid black; */
}

.titleContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end
}

.title {
  font-size: var(--font-h1);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.gradation {
  /* font-size: var(--font-h1); */
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(to bottom, rgb(0, 89, 255), white);
  color: transparent;
  -webkit-background-clip: text;
}

.companyContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  height: fit-content;
}

.companyImage {
  margin-top: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50px;
}

.listContainer {
  overflow: hidden;
}

.listContainer ul {
  list-style: none;
  display: flex;
  overflow-x: auto;
  padding: 0;
  margin: 0;
  font-size: var(--font-h2);
}

.listContainer li {
  margin-right: 1rem;
  border-radius: 20px;
  background-color: var(--main-white-color);
}

.companyList {
  width: 5.5rem;
}

.corpName p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.coldText {
  color: rgb(0, 89, 255);
  /* color: var(--main-blue-color); */
}