.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    width: 90%;
    /* border: 1px solid black; */
}

.title {
    font-size: var(--font-h2);
    margin-bottom: 0.5rem;
  }
  
  .companyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px auto;
    width: 100%;
    height: fit-content;
  }
  
  .companyImage {
    margin-top: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
  }
  
  ul {
    list-style: none;
    display: flex;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    font-size: var(--font-h3);
  }
  
  li {
    margin-right: 1rem;
    border-radius: 20px;
    background-color: var(--main-white-color);
  }
  
  .companyList {
    width: 5.5rem;
  }
  
  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  