.indexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px auto;
  width: 90%;
  height: fit-content;
  border-radius: 20px;
  border: 1px solid #ececec;
}

.indexTitle {
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1.5;
}

.indexContent {
  font-size: var(--font-h1);
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 8;
}

/* 데스크탑 화면일 때 */
@media (min-width: 481px) {
  .title {
    display: none;
  }
  .indexTitle {
    font-size: var(--font-h3);
  }
  .indexContent {
    font-size: var(--font-h3);
    /* flex-direction: column; */
  }
  .indexContainer {
    flex-direction: row;
  }
}

/* 모바일 화면일 때 */
@media (max-width: 500px) {
  .title {
    font-size: var(--font-h1);
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  .indexContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .indexTitle {
    font-size: var(--font-h1);
  }
  .indexContent {
    font-size: var(--font-h1);
    display: flex;
  }
}
