.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  width: 90%;
  margin: 3.5rem auto 2rem;
}

.title {
  font-size: var(--font-h1);
  font-weight: bold;
}

.newsContainer {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;
  height: fit-content;
  gap: 0.5rem;
  /* border: 1px solid black; */
}

.imgtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.newsHead {
  font-size: var(--font-h3);
}

.newstitle {
  text-align: left;
  margin-bottom: 0.5rem;
}

.pressDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-h3);
  color: var(--main-gray-color);
}

.newsImage {
  max-width: 3.5rem;
  max-height: 3.5rem;
}



/* 모바일 화면일 때 */
@media (max-width: 500px) {
  .newstitle {
    font-size: var(--font-h2);
  }

  .pressDate {
    font-size: var(--font-h3);
  }
}
