.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  width: 90%;
  margin: 2rem auto;
}

.title {
  font-size: var(--font-h2);
}

.newsContainer {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;
  height: fit-content;
  /* border: 1px solid black; */
}

.imgtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newstitle {
  font-size: var(--font-h3);
}

.pressDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-h5);
  color: gray;
}

.newsImage {
  max-width: 4rem;
  max-height: 2.5rem;
}

/* 모바일 화면일 때 */
@media (max-width: 500px) {
  .newstitle {
    font-size: var(--font-h4);
  }

  .pressDate {
    font-size: var(--font-h6);
  }
}
