.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  width: 90%;
  margin: 2rem auto;
}

.title {
  font-size: var(--font-h2);
}

.newsContainer {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;
  height: fit-content;
  /* border: 1px solid black; */
}

.imgtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newstitle {
  font-size: var(--font-h2);
}

.pressDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-h4);
}

.newsImage {
  width: 4rem;
  height: 2.5rem;
}
