server:
  port: 8080
  servlet:
    context-path: /api


spring:
  profiles:
    active: local
  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/antoday?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=UTF-8&characterSetResults=UTF-8&useSSL=true&serverTimezone=Asia/Seoul
    username: root
    password: root

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace

kakao:
  client_id: ef1dbd44e7ef6634e3fec53570d8fd11
  redirect_uri: http://localhost:5173/oauth/callback/kakao

jwt:
  secretKey: sc136as1c5qw4c13ax1cz3x5c4as3c1a35scczx3casc54;

  access:
    header: Authorization

  refresh:
    header: Authorization-refresh