.bubbleChartContainer {
  width: 100%;
  font-size: var(--font-h3);
  /* padding: 0rem 3rem 0rem 3rem; */
  margin: 0rem 0rem 0rem 0rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cloudTitle {
  margin-bottom: 0.6rem;
}
