.homeWordCloudContainer {
  display: flex;
  flex-direction: column;
}

.ContentContainer {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.WordContainer {
  flex: 1;
}

.CompanyContainer {
  flex: 1;
}

@media screen and (max-width: 500px) {
  
  .ContentContainer {
    display: flex;
    flex-direction: column;
  }

}
