.cardContainer {
  /* width: 3.5rem; */
  width: 5.3rem;
  height: 4.5rem;
  border-radius: 15px;
  background-color: var(--sub-blue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--main-white-color);
  gap: 1rem;
  font-size: var(--font-h2);
}

/* .cardTitle {
  font-weight: bold;
} */