.button {
    background-color: var(--main-yellow-color);
    width: 5rem;
    padding: 0.5rem;
    border-radius: 3rem;
}

.button > p {
    color: black;
    font-size: 0.8rem;
    /* font-weight: 900; */
    margin: 0;
}