.companyInfoContainer ul {
  list-style: none;
  padding: 0;
}

.companyInfoContainer {
  display: flex;
  flex-direction: column;
  font-size: var(--font-h2);
  align-items: start;
}

.companyInfoContentContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: var(--font-h2);
}

.strongText {
  color: var(--main-blue-color);
}
