.chartContainer {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: var(--main-white-color); */
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly
}

.selectedButton {
  font-size: var(--font-h3);
  border-radius: 5rem;
  width: 3rem;
  height: 1.5rem;
  background-color: var(--main-green-color);
  border: none;
  color: white;
  cursor: pointer;
}

.button {
  font-size: var(--font-h3);
  border-radius: 5rem;
  width: 3rem;
  height: 1.5rem;
  background-color: var(--sub-blue-color);
  border: none;
  color: white;
  cursor: pointer;
}