.mainContainer {
}

.title {
  font-size: var(--font-h6);
  margin-bottom: 1rem;
}

.StockInfoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}
