/* Navigation.module.css */
.navigation {
  display: flex;
}

.navItem {
  text-decoration: none;
  color: #333; /* 링크 색상 설정 */
  margin: 5px 0; /* 각 링크 사이의 간격 조정 */
  display: none; /* 기본적으로 모든 링크 숨김 */
}

/* 웹 화면에 대한 미디어 쿼리 */
@media (min-width: 768px) {
  .navItem {
    display: block; /* 웹 화면에서는 모든 링크 보이도록 설정 */
  }
}