.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  justify-content: start;
  padding: 0.5rem 0.5rem;
}

.tradeAt {
  font-size: var(--font-h4);
  display: flex;
}

.contentContainer {
  display: flex;
  gap: 1rem;
  /* border: 1px solid orange; */
  font-size: var(--font-h4);
  justify-content: space-between;
}

.corpimage {
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
}

.leftContainer {
  display: flex;
  gap: 0.5rem;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;
}

.optionBuySell {
  color: lightseagreen;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.2rem;
}

.h3 {
  font-size: var(--font-h3);
}

.h2 {
  font-size: var(--font-h2);
}

@media screen and (max-width: 500px) {
  .tradeAt {
    font-size: var(--font-h2);
  }
}
