.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: var(--font-h1);
  justify-content: start;
  padding: 0.5rem 0.5rem;
}

.tradeAt {
  font-size: var(--font-h2);
  display: flex;
}

.contentContainer {
  display: flex;
  gap: 1rem;
  /* border: 1px solid orange; */
  font-size: var(--font-h2);
  justify-content: space-between;
}

.corpimage {
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
}

.leftContainer {
  display: flex;
  gap: 0.5rem;
}

.recordContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  width: 80%;
  /* height: fit-content; */
  border: 0.1rem solid var(--main-yellow-color);
  border-radius: 0.5rem;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.optionBuySell {
  color: lightseagreen;
}

@media screen and (max-width: 500px) {
  .tradeAt {
    font-size: var(--font-h3);
  }
}
