.keywordContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: start;
}

.keywordstyles {
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--main-blue-color);
  padding: 0.2rem 0.5rem;
  font-size: var(--font-h2);
  color: var(--main-blue-color);
  border-radius: 50px;
  margin-right: 0.5rem;
  display: flex;
  gap: 0.1rem;
}

.title {
  font-size: var(--font-h1);
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: var(--font-h1);
  }
}
