.mainContainer {
  display: flex;
  flex-direction: column;
  /* width: 90%; */
  /* gap:1rem; */
}

.pageTitle {
  display: flex;
  justify-content: start;
  font-size: var(--font-h1);
  font-weight: bold;
  width: 90%;
  margin: 80px auto 1rem;
}

.keywordContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.keywordInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0rem 1rem 19px;
  width: 89%;
  height: 5%;
  /* background-color: var(--main-white-color); */
  border-radius: 0.5rem;
  justify-content: space-evenly;
  gap: 0.4rem;
  box-sizing: border-box;
}

.keyword {
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--main-blue-color);
  padding: 0.2rem 0.5rem;
  font-size: var(--font-h2);
  color: var(--main-blue-color);
  border-radius: 50px;
  margin-right: 0.5rem;
  display: flex;
  gap: 0.1rem;
  align-items: center;
}

.inputBox {
  border: none;
  /* background-color: var(--main-white-color); */
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 0.6rem;
  padding: 0.5rem;
  font-family: GmarketSans;
  font-size: var(--font-h3);
}

.confirmButton {
  font-size: var(--font-h3);
  font-family: "NanumSquareRound";
  border-radius: 1rem;
  width: 3rem;
  height: 1.5rem;
  background-color: var(--main-blue-color);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
}
