.square_bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3em;
  border-top: 0.5px solid black;
  padding: 0 2rem;
  background-color: white;
  z-index: 10;
}

.square_bottom_inner {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.square_bottom_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
