.companyContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px auto;
    width: 80%;
    height: fit-content;
}

.logoImageContainer{
    flex: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-h3);
}

.logoImage {
    border: 1px solid var(--main-blue-color);
    width: 2rem;
    height: 2rem;
    border-radius: 100px;
}

.companyName{
    flex: 7;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-h4);
}