.titleTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  gap: 0.1rem;
}

.title {
  width: fit-content;
  color: var(--sub-green-color);
  background-color: var(--main-white-color);
  padding: 2px 14px;
  border-radius: 50px;
  font-size: var(--font-h3);
}

.text {
  font-size: var(--font-h2);
}
