.mainContainer {
  width: 80%;
  height: fit-content;
  background-color: var(--main-white-color);
  border-radius: 15px;
  padding : 0.7rem;
  padding-top: 1rem;
  /* margin: 2rem auto; */
}

.button {
  border: none;
  cursor: pointer;
  margin: 0 0.3rem;
}

.buttonContainer {
  margin-left: 5rem;
}