.button {
	border-radius: 5rem;
	height: 1.6rem;
    padding: 0.3rem;
	border: none;
	background-color: var(--main-yellow-color);
	color: var(--main-white-color);
    color: black;
	font-size: var(--font-h7);
    font-weight: 900;
	margin-left: 1rem;
    margin: 0;
}