.App {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: 0 0;
  padding: 0 0;
  text-align: center;
  height: 100vh;
  /* width: 100vw; */
}

body {
  margin: 0 calc((100% - 380px) / 6);
  padding: 0;
}

@media screen and (max-width: 380px) {
  .App {
    /* border: 1px solid blue; */
    height: 100vh;
  }

  body {
    margin: 0 0;
    padding: 0;
  }
}