.App {
  font-size: 10px;
  overscroll-behavior-y: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  max-width: 400px;
  max-height: 0;
  margin-right: auto;
  margin-left: auto;
  color: red;
}

/* PC 화면 스타일 */
@media (min-width: 768px) {
  .App {
    font-size: 50px;
    overscroll-behavior-y: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 100vh;
    max-width: 400px;
    max-height: 0;
    margin-right: auto;
    margin-left: auto;
    color: black;
  }
}