@font-face {
  font-family: "GmarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --main-yellow-color: #fdc921;
  --sub-yellow-color: #fdd85d;
  --main-white-color: #fffdf7;
  --main-blue-color: #6798c0;
  --sub-blue-color: #99d6ea;
  --main-font-family: "GmarketSans";
  font-size: 20px;
  /* color-scheme: light dark; */
  font-synthesis: none;
  font-family: "GmarketSans";
  /* --font-h1: 1.75rem;
  --font-h2: 1.55rem;
  --font-h3: 1.35rem;
  --font-h4: 1.15rem;
  --font-h1: 0.95rem;
  --font-h2: 0.75rem;
  --font-h3: 0.65rem; */
  --font-h1: 0.95rem;
  --font-h2: 0.75rem;
  --font-h3: 0.65rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* border: 2px solid rebeccapurple; */
}

a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--main-blue-color);
}

.react-datepicker-popper {
  z-index: 9999;
}
