@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-yellow-color: #FDC921;
  --sub-yellow-color: #FDD85D;
  --main-white-color: #FFFDF7;
  --main-blue-color: #6798C0;
  --sub-blue-color: #99D6EA;
  
  font-size: 20px;
  /* color-scheme: light dark; */
  font-synthesis: none;
  font-family: 'NanumSquareRound';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  border: 2px solid rebeccapurple;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--main-blue-color);
}