:root {
  --main-yellow-color: #FDC921;
  --sub-yellow-color: #FDD85D;
  --main-white-color: #FFFDF7;
  --main-blue-color: #6798C0;
  --sub-blue-color: #99D6EA;
  
  font-size: 20px;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  border: 2px solid rebeccapurple;
}

a {
  font-weight: 500;
  color: inherit;
}

a:hover {
  color: var(--main-yellow-color);
}