.mainContainer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;
  background-color: var(--sub-green-color);
}

.title {
  color: white;
  font-size: var(--font-h4);
}

.subContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;
  /* border: 1px solid white; */
  border-radius: 10px;
  font-size: var(--font-h5);
  color: white;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.corpimage {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  margin-right: 0.3rem;
}

.leftContainer {
  display: flex;
  /* border: 1px solid red; */
  flex:1;
}

.rightContainer {
  display: flex;
  /* border: 1px solid blue; */
  flex:1;
}