.mainContainer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--main-blue-color);
}

.infoContainer {
  width: 90%;
  /* border: 1px solid rebeccapurple; */
  gap: 1rem;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: start;
}

.title {
  color: white;
  font-size: var(--font-h4);
}

.subContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  /* border: 1px solid white; */
  border-radius: 10px;
  font-size: var(--font-h4);
  color: white;
}

.contentContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.corpimage {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  margin-right: 0.3rem;
}

.leftContainer {
  display: flex;
  /* border: 1px solid red; */
  flex:1;
}

.rightContainer {
  display: flex;
  /* border: 1px solid blue; */
  flex-direction: column;
  flex:1;
}