.mainContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid orange; */
  gap: 1rem;
}

.pageTitle {
  display: flex;
  justify-content: start;
  font-size: var(--font-h4);
}

.keywordContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  width: inherit;
  height: 5%;
  background-color: var(--main-white-color);
  border-radius: 0.5rem;
  justify-content: space-evenly;
  width: 100%;
  padding: 0.3rem;
}

.choosenKeywords{
  display: flex;
  gap: 0.5rem;
}

.choosenKeyword{
  display: flex;
}

.keyword{
  font-size: var(--font-h4);
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid var(--main-blue-color);
  color: var(--main-blue-color);
}

.inputBox{
  border: none;
  background-color: var(--main-white-color);
  width: 100%;
}

.confirmButton {
  font-size: var(--font-h5);
  font-family: "NanumSquareRound";
  border-radius: 1rem;
  width: 2rem;
  height: 1.2rem;
  background-color: var(--main-blue-color);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.textArea{
  font-family: GmarketSans;
  width: 100%;
  border-radius: 10px;
  padding: 0.4rem;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}