.mainContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.pageTitle {
  display: flex;
  justify-content: start;
  font-size: var(--font-h4);
  width: 90%;
  margin: 0 auto;
}

.keywordContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: inherit;
  height: 5%;
  background-color: var(--main-white-color);
  border-radius: 0.5rem;
  justify-content: space-evenly;
}

.keyword{
  font-size: var(--font-h4);
}

.inputBox{
  border: none;
  background-color: var(--main-white-color);
  width: 100%;
}

.confirmButton {
  font-size: var(--font-h5);
  font-family: "NanumSquareRound";
  border-radius: 5rem;
  width: 2rem;
  height: 1.2rem;
  background-color: var(--main-green-color);
  border: none;
  color: white;
  cursor: pointer;
}
