

.wrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3em;
  border-top: 0.5px solid black;
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  width: 100%; 
  overflow-x: hidden;
}

.square_bottom_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 385px) {
  .wrap {
    display: none;
  }
}