.bottomNavwrap {
  display: none;
}

@media screen and (max-width: 500px) {
  .bottomNavwrap {
    bottom: 0;
    height: fit-content;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-right: calc((100% - 500px) / 3);
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
}
