.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: var(--main-yellow-color);
    padding-top: 6rem;
    padding-bottom: 4rem;
    color: var(--bold-blue-color);
}

.morningBackground {
  background-color: var(--main-yellow-color);
}

.nightBackground {
  background-color: var(--main-blue-color);
}

.dayBackground{
  background-color: var(--main-white-color);
}

.headerText {
    flex: 5;
    font-size: var(--font-h1);
    margin-left: 2rem;
}

.headerImage{
    flex: 5;
    position: relative;
}

/* .WordImage {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 10rem;
} */

.AntImage {
  position: absolute;
  top: -50px;
  left: 60px;
  width: 3rem;
  height: fit-content;
}