/* .memoContainerClassName{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
} */

.textArea {
  position: fixed;
  top: 2.5rem;
  left: calc((100% - 500px) / 4);
  right: calc((100% - 500px) / 4);
  background-color: var(--sub-yellow-color);
  max-width: inherit;
  z-index: 10;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  margin: 0 1rem;
  padding: 0;
}

.open {
  max-height: 200px;
  transition: max-height 0.3s ease-in-out;
}

.inputBox {
  font-family: GmarketSans;
  font-size: var(--font-h3);
  border: none;
  background-color: transparent;
  width: 90%;
  margin: 0.5rem 2rem 0rem;
}

@media screen and (max-width: 500px) {
  /*뭘해야하지*/
}
