.textArea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0rem;
  font-family: GmarketSans;
  border: none;
  font-size: var(--font-h2);
  background-color: var(--sub-gray-color);
  color: white;
}