.navigation {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* background-color: var(--main-yellow-color); */
  max-width: 100%;
  color: var(--bold-blue-color);
  align-items: center;
  margin: 0.2rem 0.5rem 0rem;
}

.navItemHome {
  grid-column-start: 1;
  width: 120px;
  height: 30px;
  /* border: 1px solid black; */
  background-image: url("../../../assets/img/logo/logo_default_white.png");
  background-size: contain;
}

.navItemCompanyInfo {
  display: block;
  grid-column-start: 5;
  grid-column-end: 7;
  font-size: var(--font-h3);
}

.navItemTradingRecord {
  display: block;
  grid-column-start: 7;
  grid-column-end: 9;
  font-size: var(--font-h3);
}

.navItemLogin {
  grid-column-start: 9;
  grid-column-end: 11;
  font-size: var(--font-h3);
}

.navItemMemoIcon{
  grid-column-start: 12;
}

.memoContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.memoContent {
  padding: 0.1rem 0.2rem;
}

.open {
  max-height: 100%;
}

@media screen and (max-width: 500px) {

  .navItem {
    display: none;
  }

  .navItemHome {
    background-image: url("../../../assets/img/logo/Logo_icon_mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center start;
  }

  .navItemLogin {
    grid-column-start: 9;
    grid-column-end: 11;
  }

  .navItemCompanyInfo {
    display: none;
  }

  .navItemTradingRecord {
    display: none;
  }
}
