.navigation {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: inherit;
  color: var(--bold-blue-color);
  align-items: center;
  position: fixed;
  z-index: 1;
  margin-right: calc((100% - 500px) / 4);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: transparent;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

/* 스크롤된 상태일 때의 배경색 스타일*/
.navigation.scrolled {
  background-color: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.navItemHome {
  grid-column-start: 1;
  width: 90px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("../../../assets/img/logo/logo_default_white.png");
  background-size: contain;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.navItemCompanyInfo {
  display: block;
  grid-column-start: 5;
  grid-column-end: 7;
  font-size: var(--font-h3);
}

.navItemTradingRecord {
  display: block;
  grid-column-start: 7;
  grid-column-end: 9;
  font-size: var(--font-h3);
}

.navItemLogin {
  grid-column-start: 9;
  grid-column-end: 11;
  font-size: var(--font-h3);
}

.navItemMemoIcon {
  grid-column-start: 12;
  cursor: pointer;
}

.memoContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
  z-index: 2;
}

.open {
  max-height: 100%;
}

@media screen and (max-width: 500px) {
  .navItem {
    display: none;
  }

  .navItemHome {
    background-image: url("../../../assets/img/logo/Logo_icon_mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center start;
  }

  .navItemLogin {
    grid-column-start: 8;
    grid-column-end: 10;
  }

  .navItemMemoIcon {
    grid-column-start: 10;
  }

  .navItemCompanyInfo {
    display: none;
  }

  .navItemTradingRecord {
    display: none;
  }
}
