.stockInfoBasicContainer {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 1rem auto;
  padding: 0 0;
}

.LeftContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.RightContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.3rem;
}

.stockCode {
  font-size: var(--font-h2);
  color: gray;
  display: flex;
  justify-self: start;
}

.stockNameContainer {
  font-size: var(--font-h1);
  display: flex;
  justify-self: start;
  align-items: center
}

.stocPrice {
  font-size: var(--font-h2);
  display: flex;
  justify-self: start;
  align-items: center
}

.pencilIcon {
  cursor: pointer;
}
