.stockInfoBasicContainer {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding: 0 0;
  margin-top: 1rem;
}

.LeftContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;
}

.RightContainer {
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  gap: 1rem;
}

.stockCode {
  font-size: var(--font-h3);
  color: var(--main-gray-color);
  display: flex;
  justify-self: start;
  align-items: center;
}

.stockNameContainer {
  font-size: var(--font-h1);
  display: flex;
  justify-self: start;
  /* align-items: flex-start; */
}

.stocPrice {
  font-size: var(--font-h1);
  font-weight: bold;
  display: flex;
  justify-self: start;
  /* align-items: flex-start; */
}

.pencilIcon {
  cursor: pointer;
}
