.searchBarContainer {
  display: flex;
  padding: 0.2rem 0.3rem;
  margin: 1rem auto 0.2rem;
  border-radius: 50px;
  /* background-color: white; */
}

.inputBox {
  outline: none;
  width: 70%;
  border: 0;

  &::placeholder {
    color: #00000080;
    font-family: var(--main-font-family);
    font-size: var(--font-h5);
  }
}

.searchButton {
  border-radius: 50px;
  height: 100%;
  background-color: var(--main-blue-color);
  outline: none;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: var(--font-h5);
}

.subContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
}
