.mainContainer {
  background-color: var(--main-yellow-color);
  padding: 5rem 0rem;
}

.subContainer{
  width: 90%;
  margin: 0 auto;
}

.searchBarContainer {
  display: flex;
  padding: 0.2rem 0.3rem;
  margin: 0rem auto 0.2rem;
  border-radius: 50px;
  gap: 0.5rem;
  border: 2px solid var(--main-white-color);
  background-color: var(--main-white-color);
}

.inputBox {
  outline: none;
  width: 70%;
  border: 0;
  background-color: var(--main-white-color);

  &::placeholder {
    color: #00000080;
    font-family: var(--main-font-family);
    font-size: var(--font-h5);
  }
}

.searchButton {
  border-radius: 50px;
  /* height: 100%; */
  background-color: var(--main-blue-color);
  outline: none;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: var(--font-h5);
}

.subContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
  flex-direction: column;
}

.companyContainer {
  margin-left: 2rem;
  text-align: start;
  gap: 1rem;
}

.title {
  margin-bottom: 1rem;
}